Thresholded/Neg_ag_artifact.jpg
Thresholded/Neg_Artifact.jpg
Thresholded/Neg_Grid_Star.jpg
Thresholded/Neg_Marker.jpg
Thresholded/Neg_star.jpg
Thresholded/Neg_star1.jpg
Thresholded/Neg_Tape_1.jpg
Thresholded/Neg_Tape_3.jpg
Thresholded/Neg.jpg
Thresholded/Pos_1.jpg
Thresholded/Pos_2.jpg
Thresholded/Pos_3.jpg
Thresholded/Pos_4.jpg
Thresholded/Pos_5.jpg
Thresholded/Pos_6.jpg
Thresholded/Neg_Grid_Marks.jpg
Thresholded/Pos_Big_1.jpg
Thresholded/Pos_Big_2.jpg
Thresholded/*.*
