Thresholded/Neg_ag_artifact.jpg
Thresholded/Neg_Artifact.jpg
Thresholded/Neg_Grid_Star.jpg
Thresholded/Neg_Marker.jpg
Thresholded/Neg_star.jpg
Thresholded/Neg_star1.jpg
Thresholded/Neg_Tape_1.jpg
Thresholded/Neg_Tape_3.jpg
Thresholded/Neg.jpg
Thresholded/Pos_1.jpg
Thresholded/Pos_2.jpg
Thresholded/Pos_3.jpg
Thresholded/Pos_4.jpg
Thresholded/Pos_5.jpg
Thresholded/Pos_6.jpg
Thresholded/Neg_Grid_Marks.jpg
Thresholded/Pos_Big_1.jpg
Thresholded/Pos_Big_2.jpg
Neg_ag_artifact.jpg
Neg_Artifact.jpg
Neg_Grid_Marks.jpg
Neg_Grid_Star.jpg
Neg_Marker.jpg
Neg_star.jpg
Neg_star1.jpg
Neg_Tape_1.jpg
Neg_Tape_3.jpg
Neg.jpg
Pos_1.jpg
Pos_2.jpg
Pos_3.jpg
Pos_4.jpg
Pos_5.jpg
Pos_6.jpg
Pos_Big_1.jpg
Pos_Big_2.jpg
Ref.jpg
Smpl_Im/Neg.jpg
Smpl_Im/Ref.jpg
Smpl_Im (copy 1)/Neg_ag_artifact.jpg
Smpl_Im (copy 1)/Neg_Artifact.jpg
Smpl_Im (copy 1)/Neg_Grid_Marks.jpg
Smpl_Im (copy 1)/Neg_Grid_Star.jpg
Smpl_Im (copy 1)/Neg_Marker.jpg
Smpl_Im (copy 1)/Neg_star.jpg
Smpl_Im (copy 1)/Neg_star1.jpg
Smpl_Im (copy 1)/Neg_Tape_1.jpg
Smpl_Im (copy 1)/Neg_Tape_3.jpg
Smpl_Im (copy 1)/Neg.jpg
Smpl_Im (copy 1)/Pos_1.jpg
Smpl_Im (copy 1)/Pos_2.jpg
Smpl_Im (copy 1)/Pos_3.jpg
Smpl_Im (copy 1)/Pos_4.jpg
Smpl_Im (copy 1)/Pos_5.jpg
Smpl_Im (copy 1)/Pos_6.jpg
Smpl_Im (copy 1)/Pos_Big_1.jpg
Smpl_Im (copy 1)/Pos_Big_2.jpg
Smpl_Im (copy 1)/Ref.jpg
Thresholded/Pos_5.jpg
Thresholded/Pos_Big_1.jpg
Thresholded/Pos_Big_2.jpg
Thresholded/Ref.jpg
Smpl_Im/*.jpg
Thresholded/Pos_5.jpg
Thresholded/Pos_Big_1.jpg
Thresholded/*.jpg
**/*.jpg
